<table>
	<tbody>
		<tr>
			<th><%=l(:label_recurring_tasks_setting_show_top_menu)%></th>
			<td>
				<select name="settings[show_top_menu]">
					<option value="true" <%= settings['show_top_menu'] ? "selected" : "" %>><%= l(:general_text_Yes) %></option>
					<option value="false" <%= !settings['show_top_menu'] ? "selected" : "" %>><%= l(:general_text_No) %></option>
				</select>
			</td>
		</tr>
	</tbody>	
</table>
