<% content_for :header_tags do %>
  <%= javascript_include_tag 'recurring_tasks.js', :plugin => 'recurring_tasks' %>
  <%= stylesheet_link_tag 'recurring_tasks.css', :plugin => 'recurring_tasks'%>
<% end %>

<%= labelled_form_for rt, :url => { :action => next_step, :id=>rt } do |f| %>
<div class="box tabular"> 
    <%= error_messages_for 'recurring_task' %>
    <%= f.hidden_field :id %>
    <p><%= label(:recurring_task, :current_issue_id, l(:field_issue)) %><%= collection_select('recurring_task', 'current_issue_id', @recurrable_issues, :id, :subj_date) %></p>
    
    
    <p><%= f.number_field :interval_number, :required => true, :size => 4, :maxlength => 4 %></p>
    <p><%= f.select :interval_unit, @interval_units, {:prompt => l(:field_please_select), :required => true} %></p>
    <p class='day_interval_modifier'><%= f.select 'interval_modifier', rt.day_modifiers_descriptions.collect{|k,v| [v, k]}, {}, :disabled => true %></p>
    <p class='month_interval_modifier'><%= f.select 'interval_modifier', rt.month_modifiers_descriptions.collect{|k,v| [v, k]}, {}, :disabled => true %></p>
    <p><%= f.check_box :fixed_schedule %></p>
  </div>
  <%= f.submit %>
  <%= link_to l(:button_cancel), :back %>
</div>
<% end %>
