<h2><%= l(:button_edit) %> <%= @recurring_task.issue.nil? ? l(:label_recurring_task_issue_empty) : link_to(@recurring_task.issue.subj_date, {:controller => 'issues', :action => 'show', :id => @recurring_task.issue.id}) %></h2>

<%= render :partial => "form", :locals => {:next_step => 'update', :rt => @recurring_task} %>

<!-- 
<p><%= link_to l(:button_cancel), "#", :onclick => 'Element.hide("add-task")' %></p>
<p><%= delete_button @recurring_task %></p>
-->