<% if !@project.nil? %>
  <div class="contextual">
    <%= link_to(l(:label_add_recurring_task), {:action => 'new'}, :class => 'icon icon-add') %>
  </div>
<% end %>

<h2><%= l(:label_recurring_tasks) %></h2>

<% if @recurring_tasks.nil? or @recurring_tasks.empty? %>
    <p><%= l(:label_no_recurring_tasks)%></p>
<% else %>
    <!-- at least one recurring task exists -->
    <table class="list">
        <thead>
            <tr>
              <th>#</th>
            	<% if @project.nil? %><th><%= l(:field_project)%></th><% end %>
              <th><%= l(:label_current_issue)%></th>
              <th><%= l(:label_recurrence_pattern)%></th>
              <th><%= l(:field_fixed_schedule)%></th>
              <th><%= l(:label_next_scheduled_run) %></th>
              <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <% @recurring_tasks.each do |rt| %>
	            <tr class="<%= cycle('odd', 'even') %>">
            	<% begin %>
                <td class="id"><%= rt.issue.nil? ? l(:label_recurring_task_issue_empty) : link_to(rt.issue.id, {:controller => 'issues', :action => 'show', :id => rt.issue.id}) %></td>
                <% if @project.nil? %>
                  <td><%= rt.project.nil? ? l(:label_recurring_task_project_empty) : link_to(rt.project, project_path(rt.project)) %></td>
                <% end %>
                <td class="subject"><%= rt.issue.nil? ? l(:label_recurring_task_issue_empty) : link_to(rt.issue.subj_date, {:controller => 'issues', :action => 'show', :id => rt.issue.id}) %></td>
                <td><%= pluralize(rt.interval_number, rt.interval_localized_name) %></td>
                <td class="tick"><%= checked_image rt.fixed_schedule %></td>
                <td><%= format_date(rt.next_scheduled_recurrence) %></td>
                <td class="buttons"><%= delete_button rt %></td>
	            <% rescue => e %>
	             	<td><%= "ERROR: #{e}" %></td>
	            <% end %>
	            </tr>
            <% end %>
        </tbody>
    </table>
<% end %>

